<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nykaa Support</title>
    <link rel="shortcut icon" href="https://images-static.nykaa.com/media/favicon/default/nykaa_favicon_a.png"
        type="image/x-icon">
    <link rel="stylesheet" href="./styles/help.css">
</head>

<body>
    <div class="div1">
        <img src="https://theme.zdassets.com/theme_assets/222949/60503496e109d9e249ab19791fb335f0459a483e.png">
        <a class="div2" href="#">Back To Help-center</a>
    </div>

    <div class="div3">
        <input class="srch" type="text"  placeholder="Search FAQs">
        <button class="btn">Submit</button>
    </div>

    <div>
        <h1 class="tag">Help Categories</h1>
    </div>

    <div class="container">
       
        <div>
            <div><img class="img image1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe7GRKAMTg8jhxROhq4nhJr7ZTk2ksY8J6Qw&usqp=CAU"></div>
            <div  class="main"><p> Order Related</p></div>
      
        </div>
        <div style="margin-top: 10px;">
            <div> <img class="img  image1" src="https://www.freeiconspng.com/thumbs/truck-icon/truck-icon-31.png"></div>
            <div  class="main"><p>Shopping</p></div>
        </div>
        <div>
            <div> <img class="img  image1" src="https://www.freeiconspng.com/thumbs/account-icon/account-icon-8.png"></div>
            <div  class="main"><p> Nykaa Account</p></div>
        </div>
        <div>
            <div> <img class="img  image1 " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKYAp4BFexB6NrJ7282Td5jIudGZxwIn-XsA&usqp=CAU"></div>
            <div  class="main"><p> Payments</p></div>
        </div>
        <div>
            <div> <img class="img  image1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuLV4VmSnT_UpmH7HzWBei5qX9Nuc3zMGi0Q&usqp=CAU"></div>
            <div  class="main"><p>Others</p></div>
        </div>
        <div>
            <div> <img class="img  image1" src="https://support.nykaa.com/img/Sell_on_Nykaa.svg"></div>
            <div  class="main"><p>Sell On Nykaa</p></div>
        </div>
        <div id="image"> 
            <div>  <img class="img1  image1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfso_mMlMJBzJTFo7Qfvmu-Vrna2KvH2sznw&usqp=CAU"></div>
            <div class="main"><p> Write To Us</p></div>
        </div> 
    </div>

    <div class= "line1"></div>

    <div class="mail">
        <h5>Email: support@nykaa.com</h5>
        <h5>Email for international orders: internationalsupport@nykaa.com</h5>
    </div>

    <div class= "line1"></div>

    <div id="footer" >
        <div class="first" >
            <div id="title">Nykaa</div><br>
            <div><a class="text" href="#">Who are We?</a></div>
            <div><a class="text" href="#">Stores & Events</a><br></div>
            <div><a class="text" href="#">Careers</a><br></div>
            <div><a class="text" href="#">Authenticity</a><br></div>
            <div><a class="text" href="#">Press</a><br></div>
            <div><a class="text" href="#">Testimonials</a><br></div>
            <div><a class="text" href="#">New Launches</a><br></div>
         
        </div>

        <div class="first">
            <div id="title">Beauty Advice</div><br>
            <div><a class="text" href="#">Beauty Book</a><br></div>
            <div><a class="text" href="#">Trending Looks</a><br></div>
            <div><a class="text" href="#">Experts Online</a></div>
            <div><a class="text" href="#">Style Divas</a></div>
           
    
        </div>

        <div class="first">
            <div id="title">Quick Links</div><br>
            <div><a class="text" href="#">Beauty Store</a><br></div>
            <div><a class="text" href="#">Shop For Men</a><br></div>
            <div><a class="text" href="#">Brand Stores</a><br></div>
            <div><a class="text" href="#">Offer Zone</a><br></div>
            <div><a class="text" href="#">Nykaa Femina Beauty Awards</a><br></div>
            <div><a class="text" href="#">Winners 2018</a><br></div>
            <div><a class="text" href="#">Offer Zone</a><br></div>
            <div><a class="text" href="#">Offer Zone</a><br></div>
           
        </div>

        <div class="first">
            <div id="title">Top Categories<br></div><br>
            <div><a class="text" href="#">Makeup</a><br></div>
            <div><a class="text" href="#">Skin</a><br></div>
            <div><a class="text" href="#">Hair</a><br></div>
            <div><a class="text" href="#">Personal Care</a><br></div>
            <div><a class="text" href="#">Herbal</a><br></div>
            <div><a class="text" href="#">Mom and Baby</a><br></div>
            <div><a class="text" href="#">Wellness</a><br></div>
            <div><a class="text" href="#">Fragrance</a><br></div>
            <div><a class="text" href="#">Gifts</a><br></div>
            <div><a class="text" href="#">Luxe</a></div>
        </div>
    </div>

    <div class= "line1"></div>

    <div class="last">
        <h5>Copyright © Nykaa 2020. All Rights Reserved.</h5>

        <a title="Follow us on twitter" class="twitter" href="https://twitter.com/MyNykaa"> <i class="fab fa-twitter"></i> </a>
    </div>
</body>
</html>



